{% if site.izzyondroid_link %}
    <a id="izzyOnDroidLink" href="{{site.izzyondroid_link}}"><img class="downloadButton" src="/assets/izzyondroid.png"></a>
{% endif %}
{% if site.fdroid_link %}
    <a id="fdroidLink" href="{{site.fdroid_link}}"><img class="downloadButton" src="/assets/fdroid.png"></a>
    <dialog id="fdroidDialog">
        <p>The F-Droid version is not maintained by the Catima team.{% if site.izzyondroid_link %} <a href="{{site.izzyondroid_link}}">Consider using IzzyOnDroid for faster updates of the official version.</a>{% endif %}</p>
        <button onClick="window.location.href='{{site.fdroid_link}}'">Download</button>
        <button class="dismiss" onClick="fdroidDialog.close()">Cancel</button>
    </dialog>
    <script>
        document.getElementById("fdroidLink").addEventListener("click", function (event) {
            event.preventDefault();
            fdroidDialog.showModal();
        });
    </script>
{% endif %}
{% if site.playstore_link %}
    <a id="playStoreLink" href="{{site.playstore_link}}"><img class="downloadButton" src="/assets/playstore.png"></a>
    <dialog id="playStoreDialog">
        <p>The Google Play version is currently outdated due to Google's AI incorrectly thinking the latest update requires an account (this is not true, Catima is fully offline).{% if site.izzyondroid_link %} <a href="{{site.izzyondroid_link}}">Consider using IzzyOnDroid for faster updates of the official version.</a>{% endif %}</p>
        <button onClick="window.location.href='{{site.playstore_link}}'">Download</button>
        <button class="dismiss" onClick="playStoreDialog.close()">Cancel</button>
    </dialog>
    <script>
        document.getElementById("playStoreLink").addEventListener("click", function (event) {
            event.preventDefault();
            playStoreDialog.showModal();
        });
    </script>
{% endif %}
{% if site.appstore_link %}
    <a id="appStoreLink" href="{{site.appstore_link}}"><img class="downloadButton" src="/assets/appstore.png"></a>
{% endif %}
{% if site.directDownload_link %}
    <a id="directDownloadLink" href="{{site.directDownload_link}}"><img class="downloadButton" src="/assets/download.png"></a>
    <dialog id="directDownloadDialog">
        <p>Catima does not include a built-in updater. You will not receive updates. We recommend using IzzyOnDroid, F-Droid or Google Play instead.</p>
        <button onClick="window.location.href='{{site.directDownload_link}}'">Download anyway</button>
        <button class="dismiss" onClick="directDownloadDialog.close()">Cancel</button>
    </dialog>
    <script>
        document.getElementById("directDownloadLink").addEventListener("click", function (event) {
            event.preventDefault();
            directDownloadDialog.showModal();
        });
    </script>
{% endif %}
