<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
    var phoneScreenshots = [];
    {% for file in site.static_files %}
        {% if file.path contains 'assets/screenshot/' %}
            phoneScreenshots.push("{{ file.path }}")
        {% endif %}
    {% endfor %}
    var index = 0;
    var nextImage = function() {
        index += 1;
        if (index >= phoneScreenshots.length) {
            index = 0;
        }
        phoneScreen1 = $("#phoneScreen1");
        phoneScreen2 = $("#phoneScreen2");

        phoneScreen1.fadeIn(0);
        phoneScreen2.fadeOut(0);
        phoneScreen2.attr('src', phoneScreenshots[index]);
        phoneScreen2.fadeIn(1000);
        phoneScreen1.fadeOut(1000, function() {
            phoneScreen1.attr('src', phoneScreen2.attr('src'))
        });
    };
    setTimeout(function() {
        nextImage();
        setInterval(nextImage, 4000);
    }, 3000);
</script>